

        <input type="hidden" name="form_{{setting.Form.Id}}_field_{{count}}_type" value="{{setting.FormItem.name}}" />
    
    
    
    <p><label>{{setting.title}}<input type="file" name="form_{{setting.Form.Id}}_field_{{count}}"/></label></p>