
    <input type="hidden" name="form_{{setting.Form.Id}}_field_{{count}}_type" value="{{setting.FormItem.name}}">
    

    <p>
    
    
    
    
    <fieldset>
  <legend>{{setting.title}}</legend>

  <div>
    <input type="radio" id="form_{{setting.Form.Id}}_field_{{setting.Id}}_yes" name="form_{{setting.Form.Id}}_field_{{count}}" value="Oui" checked />
    <label for="form_{{setting.Form.Id}}_field_{{setting.Id}}_yes">Oui</label>
  </div>

    <div>
    <input type="radio" id="form_{{setting.Form.Id}}_field_{{setting.Id}}_no" name="form_{{setting.Form.Id}}_field_{{count}}" value="Non" />
    <label for="form_{{setting.Form.Id}}_field_{{setting.Id}}_no">Non</label>
  </div>
    
        </fieldset>

    </p>