            <section id="banner" >


                            <div id="image-slider">
                            
                            <div id="slide1" data-link="/#" data-maintitle="{{section.mainTitle}}" data-secondtitle="{{section.secondTitle}}" class="slide active" style="background-image: url('{{section.bannerImage}}');"></div>
                            <div id="slide2"  data-maintitle="Nos évènements sur Berlin" data-secondtitle="L'ambassade organise de nombreux évènements"  class="slide"  style="background-image: url('{{section.bannerImage2}}');"></div>
                            <div id="slide3"  data-maintitle="Visitez le Congo" data-secondtitle="Demandez votre visa dès maintenant"    class="slide" style="background-image: url('{{section.bannerImage3}}');"></div>

                          
                            </div>

                            
                <div id="toptitle">
                  <div id="main-title">


                        <div id="text-title" class="middle">
                        
                        <h1 id="slide-main-title">{{section.mainTitle}}</h1>
                        <h2 id="slide-second-title">{{section.secondTitle}}</h2><br>
                        <a id="slide-more-info" href="/page/blog"><button class="greenflag" id="more-info">Plus d'info</button></a>
                        
                        </div>
                        
                    </div>
                  </div>
                </div>




            </section>


