
       {% extends "/backoffice/cuid/base.html.twig" %}
    

        {% block content %}

            <section id="fonctionnal">
                  <div id="main-title">
                    <div class="flexible">
                       
                        <h1>Créer une nouvel article</h1>
                    </div>

                    <div id="square-menu" class="flexible">

                                <div class="square">

                            <div class="flexible">
                                <a href="./articles">
                                <div class="optionbutton">
                                <span class="material-symbols-outlined">
                                list
                                </span>Consulter la liste de vos articles</div>
                                </a>

                            </div>



                                    <form id="page-editor" method="POST" enctype="multipart/form-data">


                                    <input type="hidden" name="addarticle_data" value="1" />
                                    <input type="hidden" name="author" value="{{user.firstname}} {{user.surname}}" />
                                            <p>
                                            <h2>Titre de votre article :</h2>
                                            <input type="text" name="title" />
                                            </p>

                                                                                        <p>
                                            <h2>Description de votre article :</h2>
                                            <textarea name="description"></textarea>
                                            </p>

                                            <p>
                                            <h2>Date de publication :</h2>
                                            <input type="date" name="publishDate" value="{{ "now"|date("m/d/Y") }}" >
                                            </p>

                                            <p>
                                            <h2>Catégorie de l'article :</h2>
                                            <select name="category">

                                            {% for category in categories %}

                                            <option value="{{category.id}}">{{category.title}}</option>

                                            {% endfor %}

                                            </select>
                                            </p>


                                            <p>
                                            <h2>Mot-clé de l'article :</h2>
                                            <select name="tag">

                                            {% for tag in tags %}

                                            <option value="{{tag.id}}">{{tag.title}}</option>

                                            {% endfor %}

                                            </select>
                                            </p>
                                            

                                            <p>
                                            <h2>Cette article est-il un communiqué de presse, un message important de l'mabassade ?</h2>
                                            <p> <strong>Note :</strong> Les articles communiqués de presses s'affichent en haut dans la page d'accueil </p>
                                            <label>Oui<input type="radio" name="statement" value="1" /></label>
                                            <label>Non<input type="radio" name="statement" value="0" checked/></label>
                                            </p>


                                            <p>
                                            <h2>Contenu de votre page :</h2>

                                            {% include "backoffice/cuid/admin/blocks/plugins/text-editor/plugin.html.twig" %}

                                            </p>

                                            <p>
                                            
                                            <h2>Image de présentation :</h2>

                                               {% include "backoffice/cuid/admin/blocks/plugins/image-selector/plugin.html.twig" %}

                                            </p>



                                   {#
                                    
                                    <h3>Déposer vos images ou Vidéos ici</h3>

                                    <input id="upload-zone" type="file" name="newmedia[]" multiple>
                                    
                                        #}

                                    <input type="submit"  value="Créer un article" />
                                    </form>

                     </div>
                  </div>
            </section>

                                            <script>

                                                var now = new Date();
                                                var y = now.getFullYear();
                                                var m = now.getMonth() + 1;
                                                var d = now.getDate();

                                                //月と日は0埋めを行う
                                                m = m < 10 ? "0" + m : m;
                                                d = d < 10 ? "0" + d : d;

                                                //yyyy-mm-dd形式
                                                document.querySelector("input[type=date]").value = y + "-" + m + "-" + d;

                                            </script>
        {% endblock %}
