
       {% extends "/backoffice/cuid/base.html.twig" %}
    

        {% block content %}

            <section id="fonctionnal">
                  <div id="main-title">
                    <div class="flexible">
                       
                        <h1>Créer un nouvel évènement</h1>
                    </div>

                    <div id="square-menu" class="flexible">

                                <div class="square">

                            <div class="flexible">
                                <a href="./events">
                                <div class="optionbutton">
                                <span class="material-symbols-outlined">
                                list
                                </span>Consulter la liste de vos évènements</div>
                                </a>

                            </div>


                                    <form id="page-editor" method="POST" enctype="multipart/form-data">


                                    <input type="hidden" name="addevent_data" value="1" />
                                    <input type="hidden" name="author" value="{{user.firstname}} {{user.surname}}" />
                                            <p>
                                            <h2>Titre de l'évènement :</h2>
                                            <input type="text" name="title" />
                                            </p>

                                             <p>
                                            <h2>Description de l'évènement :</h2>
                                            <textarea name="description"></textarea>
                                            </p>

                                            <p>
                                            <h2>Date et heure de l'évènement :</h2>
                                            <input type="datetime-local" name="eventDate" value="{{'now'|date('Y-m-d h:i:s')}}">
                                            </p>

                                            <p>
                                            <h2>Catégorie de l'article :</h2>
                                            <select name="category">

                                            {% for category in categories %}

                                            <option value="{{category.id}}">{{category.title}}</option>

                                            {% endfor %}

                                            </select>
                                            </p>

                                            <p>
                                            <h2>Image de l'évènement :</h2>

                                             {% include "backoffice/cuid/admin/blocks/plugins/image-selector/plugin.html.twig" %}

                                            </p>


                                            <p>
                                            <h2>Contenu de l'évènement :</h2>

                                            {% include "backoffice/cuid/admin/blocks/plugins/text-editor/plugin.html.twig" %}

                                            </p>

                                   {#
                                    
                                    <h3>Déposer vos images ou Vidéos ici</h3>

                                    <input id="upload-zone" type="file" name="newmedia[]" multiple>
                                    
                                        #}

                                    <input type="submit"  value="Créer un évènement" />
                                    </form>

                     </div>
                  </div>
            </section>


        {% endblock %}
