<!DOCTYPE html>
<html class="full-h">
    <head>

                    

                    {% block javascripts %}
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
            {{ encore_entry_link_tags("connection-styles") }}
            {{ encore_entry_script_tags("connection-scripts") }}
                    {% endblock %}

                    <title>Créer un nouveau mot de passe</title>
    </head>

    
    <body class="full-h">

       <!-- 

                    DISCONNECT BUTTON   

        <form id="disconnection" method="POST">
                <input type="hidden" name="disconnection" value="1" />
                <input type=  
                "submit" value="Disconnect">


        </form> -->

        <main class="full-h">

          <div id="connection-form" class="central-text">


        <h1>Créer un nouveau mot de passe</h1>


        <p class="red-text">Note : Une fois le nouveau mot de passe renseigné, cette page sera automatiquement supprimée</p>

        
            {% if message != NULL %}


            {% if error == 1 %}


            {% set class = "errormessage" %}

            {% else %}


            {% set class = "validmessage" %}

            {% endif %}

                <p class="{{class}}">{{ message }}</p>

            {% endif %}

             {% if finish == 0 %}
            <form id="newPassword" method="POST">

          <div><label>Votre nouveau mot de passe</label><input type="password" name="newPassword" /></div>

          <div><label>Confirmez votre mot de passe</label><input type="password" name="confirmPassword" /></div>
            <br>
           <div><input type="submit" value="Créer un nouveau de mot de passe" /></div>


          </form>
          {% else %}


            <a href="{{ path('cuid_connection') }}"><button>Se connecter</button></a>

            {% endif %}



        </div><br>

        
                <footer>

            <p>Copyright 2023 by <a href="https://aienova.com/">Aienova</a> - Nothing to Something</p>

        </footer>
        </main>



    </body>

    
</html>

      