
              <ul class="menu-inline">
                     <a href="{{ path('cuid_cookies') }}"><li>Cookies</li></a>
                     <a href="{{ path('cuid_privacy_policy') }}"><li>Confidentialité</li></a>
                     <a href="{{ path('cuid_cgu') }}"><li>Conditions d'utilisation</li></a>
                     <a href="{{ path('cuid_partnership') }}"><li>Devenir partenaire</li></a>
                     <a href="{{ path('cuid_cuid_job_offers') }}"><li>Travaillez pour Aienova</li></a>
                     <a href="{{ path('cuid_faq') }}"><li>F.A.Q</li></a>
              </ul>
           {#  <link rel="stylesheet" href="style.css"/>  #}
    <p>Copyright 2023 by <a href="https://aienova.com/">Aienova</a></p>

