
            {% extends "assets.twig" %}
        
        {% block asset %}
        <header>

        <img class="logo invert" src="{{ asset(logoAsset) }}"/>

        <ul id="menu">
            <a href="{{ path('cuid_candidate_area_home') }}"><li>Accueil</li></a>
            <a href="{{ path('cuid_candidate_area_job_offers') }}"><li>Offres d'emplois</li></a> 
            <a href="{{ path('cuid_candidate_area_profile') }}"><li>Votre profil</li></a> 
            <a href="{{ path('cuid_candidate_area_applications') }}"><li>Vos candidatures</li></a> 
            <a href="{{ path('cuid_candidate_area_companies') }}"><li>Liste des entreprises</li></a> 
          <a href="{{ path('cuid_candidate_area_wage_simulator') }}"><li>Estimateur de salaire</li></a> 
            <a href="{{ path('cuid_home') }}"><li>Retour sur le site web</li></a>
        </ul>

        <div id="bottom-header">
        <img id="aienova-logo" class="invert" src="{{ asset(aienovaLogoAsset) }}"/>
        <br><span>Nothing to Something</span>
        </div>



        </header>

                 <div id="tablet-button" class="open-button"><span class="material-symbols-outlined">menu</span></div>
        <div id="smartphone-button"><span class="material-symbols-outlined">menu</span></div>

        {% endblock %}


