<table id="table-resa1" class="table-resa">
    <thead>
        <tr>
            <th>code Id</th>
            <th>Date de creation</th>
            <th>Type</th>
            <th>Client</th>
            <th>Statut</th>
            <th>Coût</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

        {% if services is defined %}
        {% if services is not empty  %}

        {% for service in services |sort((a, b) => b.id <=> a.id) %}

        <tr>
            <td>{{service.numberId}}</td>
            <td>{{service.dateCreation|date("d/m/Y h:i:s")}}</td>
            <td>{{service.type.frName}}</td>
            <td>{{service.customer.firstname}} {{service.customer.surname}}</td>
             <td><span class="{{service.decision.classColor}}-text">{{service.decision.frName}}</span></td>
            <td>
            {% if service.cost != NULL %}
            <span class="gold-text">{{service.cost}}€</div>
            {% else %}
            <span class="red-text">Non défini</div>
            {% endif %}
            
            
            
            </td>
            <td>



                {% set decision = '
                
                <a href="./edit-service/'~ service.id ~'"><span class="material-symbols-outlined ">edit</span></a>
                
                    ' 
                %}


                 {{decision|raw}}                           
            </td>
        </tr>

        {% endfor %}
          {% else %}
                <tr><td colspan="7">Aucun résultat</td></tr>
        {% endif %}
        {% else %}
                <tr><td colspan="7">Aucun résultat</td></tr>
        {% endif %}

    </tbody>
</table>