                                   <div class="sub-menu">


                        <div class="">
                        <h2>Service</h2>

                                <ul class="submenu-list">

                               {#     <a href=" {{ path('cuid_admin_user_dashboard', {'section': 'services'}) }}"><li>Demande des clients</li></a> 
                                    <a href=" {{ path('cuid_admin_user_dashboard', {'section': 'customers'}) }}"><li>Liste des clients</li></a> #}
                                    <a href=" {{ path('cuid_admin_user_dashboard', {'section': 'performances'}) }}"><li>liste de vos services</li></a>
                                 {#     <a href=" {{ path('cuid_admin_user_dashboard', {'section': 'visas'}) }}"><li>liste de vos visas</li></a> #}
                                    <a href=" {{ path('cuid_admin_user_dashboard', {'section': 'bookings'}) }}"><li>Vos rendez-vous</li></a>
                                    <a href=" {{ path('cuid_admin_user_dashboard', {'section': 'events'}) }}"><li>Vos évènements</li></a>
                                {#    <a href=" {{ path('cuid_admin_user_dashboard', {'section': 'forms'}) }}"><li>Vos formulaires</li></a>
                                    <a href=" {{ path('cuid_admin_user_dashboard', {'section': 'addform'}) }}"><li>Créer un nouveau formulaire</li></a>
                                    <a href=" {{ path('cuid_admin_user_dashboard', {'section': 'addlist'}) }}"><li>Créer une nouvelle liste de formulaire</li></a>
                                    <a href=" {{ path('cuid_admin_user_dashboard', {'section': 'lists'}) }}"><li>Gérer vos listes de formulaire</li></a> #}

                                </ul>

                        </div>

                        

                    </div>
            