                                   <div class="sub-menu">


                        <div class="">
                        <h2>Statistique</h2>

                                <ul class="submenu-list">
                            

                                    <a href=" {{ path('cuid_admin_user_dashboard', {'section': 'stats'}) }}"><li>Statistique générale</li></a>
                                    <a href=" {{ path('cuid_admin_user_dashboard', {'section': 'historic'}) }}"><li>Tableaux des données</li></a>
                                   {# <a href=" {{ path('cuid_admin_user_dashboard', {'section': 'socialmedia'}) }}"><li>Analyses du trafic</li></a>
                                   {# <a ><li>Analyses SEO </li></a>
                                    <a ><li>A propos de CUID</li></a>

                            {#        <a href=" {{ path('cuid_admin_user_dashboard', {'section': 'colors'}) }}"><li>Code couleur</li></a>
                                        <a href=" {{ path('cuid_admin_user_dashboard', {'section': 'font'}) }}"><li>Police d'écriture</li></a>

                                            #}

                                </ul>

                        </div>

                        

                    </div>
            