                                   <div class="sub-menu">


                        <div class="">
                        <h2>Paramêtre</h2>

                                <ul class="submenu-list">


                                    <a href=" {{ path('cuid_admin_user_dashboard', {'section': 'infos'}) }}"><li>Info général</li></a>
                                    <a href=" {{ path('cuid_admin_user_dashboard', {'section': 'users'}) }}"><li>Gestion des utilisateurs</li></a>
                                    <a href=" {{ path('cuid_admin_user_dashboard', {'section': 'socialmedia'}) }}"><li>Gérer vos réseaux</li></a>
                                    <a href=" {{ path('cuid_admin_user_dashboard', {'section': 'faqs'}) }}"><li>Gérer votre F.A.Q</li></a>
                                {#    <a href=" {{ path('cuid_admin_user_dashboard', {'section': 'payments'}) }}"><li>Gérer vos système de paiement</li></a> #}
                                    <a href=" {{ path('cuid_admin_user_dashboard', {'section': 'about'}) }}"><li>A propos de CUID</li></a>

                            {#        <a href=" {{ path('cuid_admin_user_dashboard', {'section': 'colors'}) }}"><li>Code couleur</li></a>
                                        <a href=" {{ path('cuid_admin_user_dashboard', {'section': 'font'}) }}"><li>Police d'écriture</li></a>

                                            #}

                                </ul>

                        </div>

                        

                    </div>
            