                                   <div class="sub-menu">


                        <div class="">
                        <h2>Pages et Articles</h2>

                                <ul class="submenu-list">

                                    <a href="{{ path('cuid_admin_user_dashboard', {'section': 'pages'})  }}"><li>Gérer vos pages</li></a>
                                    <a href="{{ path('cuid_admin_user_dashboard', {'section': 'addpage'})  }}"><li>Créer une nouvelle page</li></a>
                                    <a href="{{ path('cuid_admin_user_dashboard', {'section': 'articles'})  }}"><li>Gérer vos articles</li></a>
                                    <a href="{{ path('cuid_admin_user_dashboard', {'section': 'addarticle'}) }}"><li>Créer un article</li></a> 
                                    <a href="{{ path('cuid_admin_user_dashboard', {'section': 'galleries'}) }}"><li>Gérer vos galeries d'image</li></a>
                                {#    <a href="{{ path('cuid_admin_user_dashboard', {'section': 'jobs'}) }}"><li>Gérer vos offres d'emploi</li></a> #}

                                </ul>

                        </div>

                        

                    </div>
            